<div class="container">
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <button (click)="goBack()" href="#" mat-button>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <input
      type="text"
      [(ngModel)]="title"
      class="title"
      placeholder="Untitled"
    />
    <!-- <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-white"></i>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div> -->
      </ul>

      <div class="categorySelector">
        <div class="dropdown">
          <button class="dropbtn navbar navbar-expand-custom navbar-mainbg">
            Move to space
            <mat-icon
              style="margin-left: 3px; vertical-align: middle; height: 23px"
              >arrow_right_alt</mat-icon
            >
          </button>
          <div class="dropdown-content">
            <li (click)="openModal()">
              <mat-icon class="addCategoryIcon">add_circle</mat-icon>
              Create Space
            </li>
            <li
              *ngFor="let space of spaces"
              (click)="moveToSpace(space['title'])"
            >
              <mat-icon
                class="addCategoryIcon green hide"
                [class.hide]="spaceTitle !== space['title']"
                >check_circle</mat-icon
              >{{ space["title"] }}
            </li>
          </div>
        </div>
      </div>
      <!-- <p class="categorySelector" style="align-self: center">Select Category</p> -->
    </div>

    <p class="lastUpdatedText" style="align-self: center">
      Last Updated: {{ lastUpdated }}
    </p>

    <button (click)="onSave()" href="#" mat-button>
      <mat-icon>save</mat-icon>
    </button>
  </nav>
  <!-- <form method="post">
    <textarea id="mytextarea">Hello, World!</textarea>
  </form> -->
  <editor
    style="float: center"
    [(ngModel)]="scribble"
    apiKey="hepyziqfo0vp0o0x7sa3mgvyf4tzqbxat818g2oh84iy9kh9"
    [init]="{
      height: 800,
      width: 800,
      menubar: 'file edit insert view format table tools help',
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount',
        'lists'
      ],
      toolbar:
        'undo redo | styles | fontfamily | fontsize |  bold italic strikethrough backcolor  | \
       alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | checklist | removeformat'
    }"
  ></editor>
</div>
