<div class="modal-header">
  <h3 class="modal-title" id="exampleModalLabel">{{ title }}</h3>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <input
    type="text"
    [(ngModel)]="spaceTitle"
    class="space_title"
    placeholder="Space name"
  />
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-secondary" (click)="close()">
    Close
  </button> -->
  <button
    type="button"
    class="btn"
    [ngClass]="{
      'btn-secondary disabled': spaceTitle == '',
      'btn-primary': spaceTitle !== ''
    }"
    (click)="close()"
  >
    Create
  </button>
</div>
