<div class="container">
  <div class="notes">
    <div class="sub-container">
      <h1 class="heading">notes</h1>
      <div class="horizontal-line"></div>
    </div>
    <div class="grid-container">
      <div class="grid-item" (click)="newScribble()">
        <div class="illustration">
          <img
            class="illustration-image"
            src="/assets/images/create-file.png"
            alt=""
          />
        </div>
        <h3 class="file-heading">New Scribble</h3>
      </div>

      <div *ngFor="let scribble of data" class="grid-item">
        <div
          (click)="openScribble(scribble.id)"
          class="scribble"
          id="scribble"
          [innerHTML]="scribble.Styledscribble"
        ></div>
        <div class="heading-container">
          <h3 (click)="openScribble(scribble.id)" class="file-heading">
            {{ scribble.title }}
          </h3>
          <!-- <button class="menu-button"><mat-icon>more_vert</mat-icon></button> -->
          <button
            class="menu-button"
            (click)="deleteScribbleFromDatabase(scribble.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="recents">
      <div class="sub-container">
        <h1 class="heading">templates</h1>
        <div class="horizontal-line"></div>
      </div>
      <div class="grid-container">
        <div *ngFor="let template of templates" class="grid-item">
          <div
            (click)="
              loadTemplate(template.title, template.scribble, template.id)
            "
            class="scribble"
            id="scribble"
            style="font-size: 5px"
            [innerHTML]="template.Styledscribble"
          ></div>
          <div class="heading-container">
            <h3 (click)="newScribble()" class="file-heading">
              {{ template.title }}
            </h3>
          </div>
        </div>
      </div>
      <div class="horizontal-line horizontal-line-bottom"></div>
    </div>
  </div>
</div>
